%-*-erlang-*-

{profiles,
 [
  {test,
   [
    {deps,
     [
      {meck, "0.8.10"},
      {jiffy, "0.15.2"}
     ]},
    {erl_opts, [debug_info]}
   ]},
  {lint,
   [
    {plugins,
     [
      {rebar3_lint, {git, "https://github.com/project-fifo/rebar3_lint.git", {tag, "v0.1.10"}}}
     ]},
    {elvis,
     [
      #{ dirs => ["src"],
	 filter => "*.erl",
	 ruleset => erl_files,
	 rules =>
	 [
	  {elvis_style, invalid_dynamic_call, #{ignore => [jet_utils]}}
	 ] },
      #{ dirs => ["test"],
	 filter => "*.erl",
	 ruleset => erl_files,
	 rules =>
	 [
	  {elvis_style, macro_module_names, disable},
	  {elvis_style, variable_naming_convention, #{regex => "^(_{0,2}[A-Z][0-9a-zA-Z]*)$"}}
	 ] }
     ]}
   ]}
 ]}.
